@use "../variable.scss" as *;
@use "../pre-sets.scss" as *;

.Confirmation{
	@extend .Bottom-Space-Children-Large;

	display: flex;
	flex-direction: column;
	// justify-content: center;
  align-items: center;
	width: 340px;
	height: auto;
	flex-wrap: nowrap;

	& > .Form{
    	@extend .Flex, .WH-Default, .Bottom-Space-Children, .Collumn;

		& > .SubForm-Name{
    	@extend .Flex, .WH-Default, .Collumn;

			& > .Label{
				@extend .WH-Default;

				margin-bottom: 0.5rem;
				
			}
			& > .Input-Text{
				width: calc(100% - (2 * 1px) - (2 * 1rem));
				height: 3rem;
				border: 1px solid black;
				padding: 0 1rem;
				
			}
		}
		& > .Title{
			@extend .Flex, .WH-Default, .Collumn;

			margin-bottom: 0.5rem;

			& > .Text{
				@extend .Flex, .WH-Default, .Collumn;

			}
		}
		& > .SubForm-Payment{
    	@extend .Flex, .WH-Default, .Right-Space-Children;

			& > .Label{
    		@extend .Flex, .WH-Auto;
			}
			& > .Input{
    		@extend .Flex, .WH-Auto;
			}
			& > .Label{
    		@extend .Flex, .WH-Auto;
			}
			& > .Input{
    		@extend .Flex, .WH-Auto;
			}
			& > .Label{
    		@extend .Flex, .WH-Auto;
			}
			& > .Input{
    		@extend .Flex, .WH-Auto;
			}
		}
		& > .Title{
			@extend .Flex, .WH-Default, .Collumn;

			margin-bottom: 0.5rem;

			& > .Text{
				@extend .Flex, .WH-Default, .Collumn;

			}
		}
		& > .SubForm-Troco{
    	@extend .Flex, .WH-Default, .Right-Space-Children;

			flex-wrap: wrap;

			& > *{
				margin-bottom: 0.5rem;
			}
			
			& > .Label{
    		@extend .Flex, .WH-Auto;
			}
			& > .Input-CheckBox{
    		@extend .Flex, .WH-Auto;
			}
			& > .Input-Text{
    		@extend .Flex, .WH-Default;
					width: calc(100% - (2 * 1px) - (2 * 1rem));
					height: 3rem;
					border: 1px solid black;
					padding: 0 1rem;

				flex-grow: 1;
			}
		}
		& > .Title{
			@extend .Flex, .WH-Default, .Collumn;

			margin-bottom: 0.5rem;

			& > .Text{
				@extend .Flex, .WH-Default, .Collumn;

			}
		}
		& > .SubForm-Delivery{
    	@extend .Flex, .WH-Default, .Right-Space-Children;

			& > .Label{
    		@extend .Flex, .WH-Auto, .Right-Space-Children;

			}
			& > .Input{
    		@extend .Flex, .WH-Auto, .Right-Space-Children;
				
			}
			& > .Label{
    		@extend .Flex, .WH-Auto, .Right-Space-Children;
				
			}
			& > .Input{
    		@extend .Flex, .WH-Auto, .Right-Space-Children;
				
			}
		}
		& > .SubForm-Address{
    	@extend .Flex, .WH-Default, .Collumn;

			& > .Label{
				@extend .WH-Default;

				margin-bottom: 0.5rem;
				
			}
			& > .Input-Text{
				width: calc(100% - (2 * 1px) - (2 * 1rem));
				height: 3rem;
				border: 1px solid black;
				padding: 0 1rem;
				
			}
		}
	}

  & > .Content{
    @extend .Flex, .WH-Default, .Collumn, .Bottom-Space-Children;

		& > .Resume{
		  @extend .Flex, .WH-Default;
		
      & > .Display{
        @extend .Flex, .WH-Auto;
        
        & > .Text{

        }
      }
      & > .Display{
        @extend .Flex, .WH-Auto;
        
        & > .Text{

        }
      }
      & > .Display{
        @extend .Flex, .WH-Auto;
        
        & > .Text{

        }
      }
		}
		
		& > .Actions{
      @extend .Flex, .WH-Default, .Right-Space-Children;
      
      & > .Action{
        @extend .Flex, .Flex-Center, .WH-Button-Half-Space;

        & > .Button{
        @extend .Flex, .Flex-Center, .WH-Full, .Button-Base;

          & > i{
            @extend .Flex, .Flex-Center, .WH-Auto, .Icon-Button;


          }
        }
		}
		}
  }

	& > .Products{

    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    // grid-template-rows: calc(50px + (2 * 1rem));
    justify-content: center;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;

    min-width: 340px;
    max-width: calc((340px * 3) + (2 * 2rem));
    width: calc(100% - (0 * 1rem));
    height: auto;

    gap: 2rem;

    & > .Product-Horizontal{
      @extend .Flex, .Flex-Center, .WH-Default, .Right-Space-Children-Large;

      // width: 100%;
      // height: calc(55px + (2 * 1rem));
      width: calc(100% - (2 * 2rem));
      // height: calc(100px + (2 * 1rem));
      height: calc(100% - (2 * 2rem));
      padding: 2rem;

      background-color: #ffffff;
      box-shadow: 1px 1px 1px #dddddd;

      & > .Image{
        @extend .Flex;
        @extend .Image-Size;
        @extend .Flex-Center;
    
        & > .Img{
          @extend .Flex;
          @extend .Image-Size;
          @extend .Flex-Center;
        }
      }

      & > .Information{
        @extend .Flex;
        @extend .WH-Default;
        @extend .Collumn;
        width: calc(100% - $imageSize - 2rem);
        height: auto;

        & > .Title{
          @extend .Flex;
          @extend .WH-Default;

          & > .Text{
            @extend .Flex;
            @extend .WH-Default;
            @extend .Name-Size;
          }
        }
        
        & > .Description{
          @extend .Flex;
          @extend .WH-Default;

          & > .Text{
            @extend .Ellipse;
          }
        }

        & > .Data{
          @extend .Flex;
          @extend .WH-Default;
          @extend .Data-Size ;
          flex-wrap: wrap;
        
          & > .Price{
            @extend .Flex;
            @extend .WH-Auto;
            
            & > .Price-Label{
              @extend .Flex;
              @extend .WH-Auto;
            }

            & > .Price-Text{
              @extend .Flex;
              @extend .WH-Auto;
            }
          }
          
          // & > .Count{
          //   @extend .Flex;
          //   @extend .WH-Auto;
          
          //   & > .Count-Label{
          //     @extend .Flex;
          //     @extend .WH-Auto;
          //   }

          //   & > .Count-Text{
          //     @extend .Flex;
          //     @extend .WH-Auto;
          //   }
          // }

					& > .Total{
            @extend .Flex;
            @extend .WH-Auto;
          
            & > .Count-Label{
              @extend .Flex;
              @extend .WH-Auto;
            }

            & > .Count-Text{
              @extend .Flex;
              @extend .WH-Auto;
            }
          }

        }
			}
		}
	}
}