@use "../variable.scss" as *;
@use "../pre-sets.scss" as *;

.Store{
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: start;
  width: 100%;
  height: calc(100dvh);
  overflow-x: hidden;
  overflow-y: scroll;

  & > .Products{

    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-template-rows: calc(50px + (2 * 1rem));
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;

    min-width: 340px;
    max-width: calc((340px * 3) + (2 * 2rem));
    width: calc(100% - (0 * 1rem));
    min-height: 100dvh;
    height: auto;

    gap: 2rem;

    margin: 2rem;

    background-color: aquamarine;

    & > .Product-Horizontal{
      @extend .Flex, .Flex-Center, .WH-Default, .Right-Space-Children;

      width: 100%;
      height: calc(55px + (2 * 1rem));

      background-color: #ffffff;
      box-shadow: 1px 1px 1px #dddddd;

      & > .Image{
        @extend .Flex;
        @extend .Image-Size;
        @extend .Flex-Center;
    
        & > .Img{
          @extend .Flex;
          @extend .Image-Size;
          @extend .Flex-Center;
        }
      }

      & > .Information{
        @extend .Flex;
        @extend .WH-Default;
        @extend .Collumn;
        width: calc(100% - $imageSize - 4rem);
        height: auto;

        & > .Title{
          @extend .Flex;
          @extend .WH-Default;

          & > .Title-Text{
            @extend .Flex;
            @extend .WH-Default;
            @extend .Name-Size;
          }
        }
        
        & > .Description{
          @extend .Flex;
          @extend .WH-Default;

          & > .Description-Text{
            @extend .Ellipse;
          }
        }

        & > .Data{
          @extend .Flex;
          @extend .WH-Default;
          @extend .Data-Size ;
          flex-wrap: wrap;
        
          & > .Price{
            @extend .Flex;
            @extend .WH-Auto;
            
            & > .Price-Label{
              @extend .Flex;
              @extend .WH-Auto;
            }

            & > .Price-Text{
              @extend .Flex;
              @extend .WH-Auto;
            }
          }
          
          & > .Count{
            @extend .Flex;
            @extend .WH-Auto;
          
            & > .Count-Label{
              @extend .Flex;
              @extend .WH-Auto;
            }

            & > .Count-Text{
              @extend .Flex;
              @extend .WH-Auto;
            }
          }
        }
      }
    }
  }
}

.Space{
  height: 20rem;
  width: 100%;
  background-color: aqua;
}