@use "../variable.scss" as *;
@use "../pre-sets.scss" as *;

.ShoppingCart{
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: start;
  width: 100%;
  height: calc(100dvh);
  overflow-x: hidden;
  overflow-y: scroll;

  & > .Products{

    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-template-rows: calc(50px + (2 * 1rem));
    justify-content: center;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;

    min-width: 340px;
    max-width: calc((340px * 3) + (2 * 2rem));
    width: calc(100% - (0 * 1rem));
    min-height: 100dvh;
    height: auto;

    gap: 2rem;

    margin: 2rem;

    & > .Product-Horizontal{
      @extend .Flex, .Flex-Center, .WH-Default, .Right-Space-Children;

      width: 100%;
      height: calc(55px + (2 * 1rem));

      padding: 1rem;

      background-color: #ffffff;
      box-shadow: 1px 1px 1px #dddddd;

      & > .Image{
        @extend .Flex;
        @extend .Image-Size;
        @extend .Flex-Center;
    
        & > .Img{
          @extend .Flex;
          @extend .Image-Size;
          @extend .Flex-Center;
        }
      }

      & > .Information{
        @extend .Flex;
        @extend .WH-Default;
        @extend .Collumn;
        
        width: calc(100% - $imageSize - 2rem);
        height: auto;

        & > .Title{
          @extend .Flex;
          @extend .WH-Default;

          & > .Text{
            @extend .Flex;
            @extend .WH-Default;
            @extend .Name-Size;
          }
        }
        
        & > .Description{
          @extend .Flex;
          @extend .WH-Default;

          & > .Text{
            @extend .Ellipse;
          }
        }

        & > .Data{
          @extend .Flex;
          @extend .WH-Default;
          @extend .Data-Size ;
          flex-wrap: wrap;
        
          & > .Price{
            @extend .Flex;
            @extend .WH-Auto;
            
            & > .Label{
              @extend .Flex;
              @extend .WH-Auto;
            }

            & > .Text{
              @extend .Flex;
              @extend .WH-Auto;
            }
          }
        }

        & > .Actions {
          @extend .Flex;
          @extend .WH-Default;
          @extend .Bottom-Space-Children;

          margin-top: 1rem;

          flex-wrap: wrap;

          & > .SubActions{
            @extend .Flex;
            @extend .WH-Default;
            // border: 3px solid black;

            & > .Action{
              width: 3rem;
              height: 3rem;
              display: flex;
              justify-content: center;
              align-items: center;

              & > .Button{
                padding: 0;
                line-height: 0;
                width: 100%;
                height: 100%;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
                cursor: pointer;

                &:active{
                  background-color: white;

                  & > .Icon{
                    color: black;
                  }
                }

                & > .Icon{
                  width: 100%;
                  height: 100%;
                  padding: 0;
                  line-height: 0;
                  white-space: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  cursor: pointer;
                }
              }
            }

            & > .Display{
              width: 3rem;
              height: 3rem;
              display: flex;
              justify-content: center;
              align-items: center;

              & > .Text{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            & > .Total{
              @extend .Flex;
              @extend .Flex-Center;

              justify-content: flex-start;
              padding-left: calc(1rem );
              width: calc(100% - (3 * 3rem));
              height: 3rem;
              

              & > .Label{

              }

              & > .Text{

              }
            }
          }
        }
      }
    }
  }

  & > .Content{
    @extend .Flex, .WH-Default, .Collumn, .Bottom-Space-Children;

    & > .Resume{
      @extend .Flex, .WH-Default;
    
      & > .Display{
        @extend .Flex, .WH-Auto;
        
        & > .Text{

        }
      }
      & > .Display{
        @extend .Flex, .WH-Auto;
        
        & > .Text{

        }
      }
      & > .Display{
        @extend .Flex, .WH-Auto;
        
        & > .Text{

        }
      }
    }
    
    & > .Actions{
      @extend .Flex, .WH-Default, .Right-Space-Children;
    
      & > .Action{
        @extend .Flex, .Flex-Center, .WH-Button-Half-Space;

        & > .Button{
          @extend .Flex, .Flex-Center, .WH-Full, .Button-Base;

          & > i{
            @extend .Flex, .Flex-Center, .WH-Auto, .Icon-Button;


          }
        }
      }
    }
  }
}

// @use "../variable.scss" as *;
// @use "../pre-sets.scss" as *;

// .ShoppingCart{
//   // width: calc(100% - (0 * 1rem));
// }

//   .ShoppingCart-Products{
//   }

//     .ShoppingCart-Products-Product{
//     }

//       .ShoppingCart-Products-Product-Image{
//       }

//         .ShoppingCart-Products-Product-Image-Img{
//         }

//       .ShoppingCart-Products-Product-Information{
//         width: calc(100% - $imageSize - 1rem);
//         height: auto;
//       }

//         .ShoppingCart-Products-Product-Information-Title{
//         }

//           .ShoppingCart-Products-Product-Information-Title-Text{
//             // width: calc(100% - 50px - 1rem);
//           }

//         .ShoppingCart-Products-Product-Information-Description{
//         }

//           .ShoppingCart-Products-Product-Information-Description-Paragraph{
//           }

//         .ShoppingCart-Products-Product-Information-Data{
//         }

//           .ShoppingCart-Products-Product-Information-Data-Price{
//           }

//             .ShoppingCart-Products-Product-Information-Data-Price-Label{
//             }

//             .ShoppingCart-Products-Product-Information-Data-Price-Text{
//             }

//           .ShoppingCart-Products-Product-Information-Data-Total{
//           }

//             .ShoppingCart-Products-Product-Information-Data-Total-Label{
//             }

//             .ShoppingCart-Products-Product-Information-Data-Total-Text{
//             }

//           .ShoppingCart-Products-Product-Actions{
//             flex-wrap: nowrap;
//           }

//             .ShoppingCart-Products-Product-Actions-Action{
//             }

//               .ShoppingCart-Products-Product-Actions-Action-Button{
//               }

//             .ShoppingCart-Products-Product-Actions-Display{
//             }

//               .ShoppingCart-Products-Product-Actions-Display-Text{
//               }

//             .ShoppingCart-Products-Product-Actions-Action{
//             }

//               .ShoppingCart-Products-Product-Actions-Action-Button{
//               }

//             .ShoppingCart-Products-Product-Actions-Action{
//             }

//               .ShoppingCart-Products-Product-Actions-Action-Button{
//               }

//   .ShoppingCart-Content{
//   }

//     .ShoppingCart-Content-Resume{
//       justify-content: flex-end;
//     }

//       .ShoppingCart-Content-Resume-Display{
//       }

//         .ShoppingCart-Content-Resume-Display-Text{
//         }

//       .ShoppingCart-Content-Resume-Display{
//       }

//         .ShoppingCart-Content-Resume-Display-Text{
//         }

//       .ShoppingCart-Content-Resume-Display{
//       }

//         .ShoppingCart-Content-Resume-Display-Text{
//         }

//     .ShoppingCart-Content-Actions{
//     }

//       .ShoppingCart-Content-Actions-Action{
//         width: calc(50% - (1rem / 2));
//         height: auto;
//       }

//         .ShoppingCartart-Content-Actions-Action-Button{
//         }

//       .ShoppingCart-Content-Actions-Action{
//         width: calc(50% - (1rem / 2));
//         height: auto;
//       }

//         .ShoppingCart-Content-Actions-Action-Button{
//         }