@use "../variable.scss" as *;
@use "../pre-sets.scss" as *;

.Status{
  @extend .Flex, .WH-Default, .Bottom-Space-Children, .Padding-Vertical, .Collumn;

  & > .Order{
    @extend .Flex, .WH-Default, .Bottom-Space-Children, .Padding-Vertical, .Collumn;

    & > .Image{
      @extend .Flex;
      @extend .Image-Size;
      @extend .Flex-Center;
  
      & > .Img{
        @extend .Flex;
        @extend .Image-Size;
        @extend .Flex-Center;
      }
    }
    & > .Display{
      @extend .Flex;
      @extend .WH-Default;

      & > .Text{
        @extend .Flex;
        @extend .WH-Default;
        @extend .Name-Size;
      }
    }
    & > .History{
      @extend .Flex, .WH-Default, .Bottom-Space-Children, .Padding-Vertical, .Collumn;
      
      & > .Title{
        @extend .Flex;
        @extend .WH-Default;

        & > .DateAndHour{
          @extend .Flex;
          @extend .WH-Default;
          @extend .Name-Size;

        }
      }

      & > .Products{
        @extend .Flex, .Bottom-Space-Children, .Padding-Vertical, .Collumn;

        width: calc(100% - (0 * 1rem));
        // min-height: calc(200px - (0 * 1rem));
        height: auto;

        & > .Product-Horizontal{
          @extend .Flex, .Right-Space-Children, .WH-Default;

          & > .Image{
            @extend .Flex;
            @extend .Image-Size;
            @extend .Flex-Center;
        
            & > .Img{
              @extend .Flex;
              @extend .Image-Size;
              @extend .Flex-Center;

            }
          }

          & > .Information{
            @extend .Flex;
            @extend .WH-Default;
            @extend .Collumn;

            width: calc(100% - $imageSize - 1rem);
            height: auto;

            & > .Title{
              @extend .Flex;
              @extend .WH-Default;

              & > .Text{
                @extend .Flex;
                @extend .WH-Default;
                @extend .Name-Size;

              }
            }
        
            & > .Description{
              @extend .Flex;
              @extend .WH-Default;

              & > .Text{
                @extend .Ellipse;

              }
            }

            & > .Data{
              @extend .Flex;
              @extend .WH-Default;
              @extend .Data-Size ;
              flex-wrap: wrap;
            
              & > .Price{
                @extend .Flex;
                @extend .WH-Auto;
                
                & > .Label{
                  @extend .Flex;
                  @extend .WH-Auto;
                }

                & > .Text{
                  @extend .Flex;
                  @extend .WH-Auto;
                }
              }

              & > .Count{
                @extend .Flex;
                @extend .WH-Auto;
                
                & > .Label{
                  @extend .Flex;
                  @extend .WH-Auto;
                }

                & > .Text{
                  @extend .Flex;
                  @extend .WH-Auto;
                }
              }

              & > .Total{
                @extend .Flex;
                @extend .WH-Auto;
                
                & > .Label{
                  @extend .Flex;
                  @extend .WH-Auto;
                }

                & > .Text{
                  @extend .Flex;
                  @extend .WH-Auto;
                }
              }
            }
          }
        }
      }
    }
  }
}