@use "../global/variable.scss" as *;
@use "../global/pre-sets.scss" as *;
@use "../global/classes.scss" as *;

.Confirmation{
	// @extend %Bottom-Margin-Children-Large;

	// display: flex;
	// flex-direction: column;
	// // justify-content: center;
	// align-items: center;
	// width: 340px;
	// height: auto;
	// flex-wrap: nowrap;

	& > .Form{
			@extend .Flex, .WH-Default, %Bottom-Margin-Children-Medium, .Collumn;

		& > .SubForm-Name{
			@extend .Flex, .WH-Default, .Collumn;

			& > .Label{
				@extend .WH-Default;

				margin-bottom: 0.5rem;
				
			}
			& > .Input-Text{
				width: calc(100% - (2 * 1px) - (2 * 1rem));
				height: 3rem;
      			border: none;
				// border: 1px solid $Color-Black;
				padding: 0 1rem;
				
			}
		}
		& > .Title{
			@extend .Flex, .WH-Default, .Collumn;

			margin-bottom: 0.5rem;

			& > .Text{
				@extend .Flex, .WH-Default, .Collumn;

			}
		}
		& > .SubForm-Payment{
			@extend .Flex, .WH-Default, %Right-Margin-Children-Medium;

			& > .Label{
				@extend .Flex, .WH-Auto;
			}
			& > .Input{
				@extend .Flex, .WH-Auto;
			}
		}
		& > .Title{
			@extend .Flex, .WH-Default, .Collumn;

			margin-bottom: 0.5rem;

			& > .Text{
				@extend .Flex, .WH-Default, .Collumn;

			}
		}
		& > .SubForm-Troco{
			@extend .Flex, .WH-Default, %Right-Margin-Children-Medium;

			flex-wrap: wrap;

			& > *{
				margin-bottom: 0.5rem;
			}
			
			& > .Label{
				@extend .Flex, .WH-Auto;
			}
			& > .Input-CheckBox{
				@extend .Flex, .WH-Auto;
			}
			& > .Input-Text{
				@extend .Flex, .WH-Default;
					width: calc(100% - (2 * 1px) - (2 * 1rem));
					height: 3rem;
      				border: none;
					// border: 1px solid $Color-Black;
					padding: 0 1rem;

				flex-grow: 1;
			}
		}
		& > .Title{
			@extend .Flex, .WH-Default, .Collumn;

			margin-bottom: 0.5rem;

			& > .Text{
				@extend .Flex, .WH-Default, .Collumn;

			}
		}
		& > .SubForm-Delivery{
			@extend .Flex, .WH-Default, %Right-Margin-Children-Medium;

			& > .Label{
				@extend .Flex, .WH-Auto, %Right-Margin-Children-Medium;

			}
			& > .Input{
				@extend .Flex, .WH-Auto, %Right-Margin-Children-Medium;
				
			}
		}
		& > .SubForm-Address{
			@extend .Flex, .WH-Default, .Collumn;

			& > .Label{
				@extend .WH-Default;

				margin-bottom: 0.5rem;
				
			}
			& > .Input-Text{
				width: calc(100% - (2 * 1px) - (2 * 1rem));
				height: 3rem;
      			border: none;
				// border: 1px solid $Color-Black;
				padding: 0 1rem;
				
			}
		}
	}

	& > .Content{
		@extend .Flex, .WH-Default, .Collumn, %Bottom-Margin-Children-Large;

		& > .Resume{
			@extend .Flex, .WH-Default;
		
			& > .Display{
				@extend .Flex, .WH-Auto;
				
				& > .Label{
					@extend .Flex;

					flex-wrap: nowrap;

				}
				
				& > .Text{
					@extend .Flex;

					flex-wrap: nowrap;

				}
			}
		}
		
		& > .Actions{
			@extend .Flex, .WH-Default, %Right-Margin-Children-Medium;
			
			& > .Action{
				@extend .Flex, .Flex-Center, .WH-Button-Half-Space;

				& > .Button{
				@extend .Flex, .Flex-Center, .WH-Full, .Button-Base;

					& > i{
						@extend .Flex, .Flex-Center, .WH-Auto, .Icon-Button;


					}
				}
			}
		}
	}

	& > .Products{

		display: grid;
		grid-template-columns: repeat(auto-fill, 340px);
		// grid-template-rows: calc($imageSize + (2 * 1rem));
		justify-content: center;
		align-content: start;
		justify-items: stretch;
		align-items: stretch;

		min-width: 340px;
		max-width: calc((340px * 3) + (2 * 2rem));
		width: calc(100% - (0 * 1rem));
		height: auto;

		gap: 2rem;

		& > .Product-Horizontal{
			@extend .Flex, .Flex-Center, .WH-Default, %Right-Margin-Children-Large;

			// width: 100%;
			// height: calc(55px + (2 * 1rem));
			width: calc(100% - (2 * 2rem));
			// height: calc(100px + (2 * 1rem));
			height: calc(100% - (2 * 2rem));
			padding: 2rem;

			background-color: $Color-White;
			box-shadow: 1px 1px 1px $Color-Gainsboro;

			& > .Image{
				@extend .Flex, .Image-Size, .Flex-Center;
		
				& > .Img{
					@extend .Flex, .Image-Size, .Flex-Center;
				}
			}

			& > .Information{
				@extend .Flex, .WH-Default, .Collumn;

				width: calc(100% - $imageSize - 2rem);
				height: auto;

				& > .Title{
					@extend .Flex, .WH-Default;

					& > .Text{
						@extend .Flex, .WH-Default, .Name-Size;
					}
				}
				
				& > .Description{
					@extend .Flex, .WH-Default;

					& > .Text{
						@extend .Ellipse;
					}
				}

				& > .Data{
					@extend .Flex, .WH-Default, .Data-Size;

					flex-wrap: wrap;
				
					& > .Price{
						@extend .Flex, .WH-Auto;
						
						& > .Price-Label{
							@extend .Flex;
						}

						& > .Price-Text{
							@extend .Flex;
						}
					}
					
					& > .Count{
					  @extend .Flex, .WH-Auto;
					
					  & > .Count-Label{
					    @extend .Flex;
					  }

					  & > .Count-Text{
					    @extend .Flex;
					  }
					}

					& > .Total{
						@extend .Flex, .WH-Auto;
					
						& > .Count-Label{
							@extend .Flex;
						}

						& > .Count-Text{
							@extend .Flex;
						}
					}
				}
			}
		}
	}
}