@use "../global/variable.scss" as *;
@use "../global/pre-sets.scss" as *;
@use "../global/classes.scss" as *;

.Products{

  // display: grid;
  // // grid-template-columns: repeat(auto-fill, 340px)
  // grid-template-columns: 340px;;
  // grid-template-rows: calc(50px + (2 * 2rem));

  // gap: 2rem;

  // justify-content: center;

  // // min-width: 340px;
  // // max-width: calc((340px * 3) + (2 * 2rem));
  // // width: calc(100% - (0 * 1rem));
  // width: 100%;
  // height: auto;

  & > .Product-Horizontal{

    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px;

    gap: 2rem;
    
    width: calc(100% - (2 * 2rem));
    height: calc(100% - (2 * 2rem));
    padding: 2rem;

    background-color: $Color-White;
    box-shadow: 1px 1px 1px $Color-Gainsboro;

    & > .Image{
      width: 100%;
      height: 100%;
  
      & > .Img{
        width: 100%;
        height: 100%;
      }
    }

    & > .Information{

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);

      width: 100%;
      height: 100%;

      & > .Title{

        & > .Text{
          @extend .Name-Size;
        }
      }
      
      & > .Description{
        @extend .Flex;

        width: calc(340px - 50px - 20px - 20px - 20px);

        & > .Text{
          @extend .Ellipse;

          width: 100%;
        }
      }

      & > .Data{
        @extend .Flex, .WH-Default, .Data-Size ;
        flex-wrap: wrap;
      
        & > .Price{
          @extend .Flex, .WH-Auto;
          
          & > .Label{
            @extend .Flex, .WH-Auto;
          }

          & > .Text{
            @extend .Flex, .WH-Auto;
          }
        }
        
        & > .Count{
          @extend .Flex, .WH-Auto;
        
          & > .Label{
            @extend .Flex, .WH-Auto;
          }

          & > .Text{
            @extend .Flex, .WH-Auto;
          }
        }
      }
    }
  }
}