@use "../global/variable.scss" as *;
@use "../global/pre-sets.scss" as *;
@use "../global/classes.scss" as *;

$Products-Size-Collumn: 660px;
$Product-Size-Collumn: 1fr;

.Detail{

  & > .Content{

    display: grid;
    grid-template-columns: repeat(1, clamp(240px, 100%, $Products-Size-Collumn));
    grid-template-rows: calc(100% - (2 * 2rem));

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    height: 100%;

    gap: $rem-large;

    & > .Product-Vertical {
      @extend .Flex, .Collumn;

      justify-content: flex-start;
      align-items: center;
      // width: calc(340px - 2 * 2rem - 2 * 2rem);
      width: calc(100% - 2 * 2rem);
      height: 100%;

      padding: 2rem;

      background-color: white;

      border: 1px 1px 1px solid $Color-Anti-Flash-White;

      & > .Scroll{
        @extend .Flex, .Collumn, %Bottom-Margin-Children-Large;

        width: 100%;

        justify-content: flex-start;
        align-items: center;

        flex-grow: 1;

        overflow-y: scroll;

        & > .Image {
          @extend .Flex, .WH-Default, .Flex-Center;

          // width: 340px;
          // height: 340px;
          width: 100%;

          & > .Img {
            @extend .Flex, .WH-Default, .Flex-Center;

            // width: 340px;
            // height: 340px;
            width: 100%;

          }
        }

        & > .Title {
          @extend .Flex, .Image-Size, .WH-Default;

          & > .Text {
            @extend .Flex, .Image-Size, .WH-Default, .Font-Size-Title;

          }
        }

        & > .SubActions{
          @extend .Flex, .WH-Default;
          // border: 3px solid $Color-Black;

          height: 2.5rem;

          & > .Action{
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & > .Button{
              padding: 0;
              line-height: 0;
              width: 100%;
              height: 100%;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $Color-Black;
              cursor: pointer;

              &:active{
                background-color: white;

                & > .Icon{
                  // color: $Color-Black;
                  fill: $Color-Black !important;
                  color: $Color-Black !important;

                  & > *{
                    color: $Color-Black !important;
                  }
                }
              }

              & > .Icon{
                width: 100%;
                height: 100%;
                padding: 0;
                line-height: 0;
                white-space: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                // color: white;
                cursor: pointer;
                background-color: transparent !important;
                fill: white !important;
                color: white !important;

                & > *{
                  color: white !important;
                }
              }
            }
          }

          & > .Display{
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & > .Text{
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          & > span{
            @extend .Flex, .Flex-Center;

            justify-content: flex-start;
            padding-left: calc(1rem );
            width: calc(100% - (3 * 2.5rem));
            height: 2.5rem;

          }
        }

        & > .PageControllers {
          @extend .Flex, .Flex-Center, .WH-Default, %Right-Margin-Children-Large;

            height: 4rem;
          
          & > .Button {
            @extend .Flex, .Flex-Center, .WH-Default, .Button-Default;

            height: 4rem;
          }
        }

        & > .Paragraph {
          @extend .Flex, .WH-Default;

          width: 100%;

          & > .Text {
            @extend .Flex, .WH-Default, .Height-Line;
            
          }
        }

        & > .Data {
          @extend .Flex, .WH-Default;

          width: 100%;

          & > .Price {
            @extend .Flex, .WH-Auto;


            & > .Label {
              @extend .Flex, .WH-Auto;

            }

            & > .Text {
              @extend .Flex, .WH-Auto;

            }
          }
        }
        
      }

    }

  }

}