@use "../global/variable.scss" as *;
@use "../global/pre-sets.scss" as *;
@use "../global/classes.scss" as *;

$Products-Size-Collumn: 1fr;
$Product-Size-Collumn: 1fr;

.ShoppingCart{

  & > .Content{

    display: grid;
    grid-template-columns: repeat(1, $Products-Size-Collumn);

    height: 100%;

    gap: $rem-large;

    & > .Div{

      display: grid;
      grid-template-columns: repeat(1, $Products-Size-Collumn);
      // grid-template-rows: calc(100% - (2 * 2rem));
      grid-template-rows: auto 1fr;

      gap: $rem-large;

      & > .Group{

        display: grid;
        grid-template-columns: repeat(1, $Products-Size-Collumn);
        // grid-template-rows: calc(100% - (2 * 2rem));
        // grid-template-rows: 50px 1fr;

        justify-items: center;

        gap: $rem-large;

        & > .Resume{
          @extend .Flex, .WH-Default;

          // width: 340px;
          width: calc(340px - 2 * 2rem);

          @media screen and (max-width: $Mobile-Size) {

            width: 100%;

          }
        
          & > .Display{
            @extend .Flex, .WH-Auto;
            
            & > .Label{
              @extend .Flex;

              flex-wrap: nowrap;

            }
            
            & > .Text{
              @extend .Flex;

              flex-wrap: nowrap;

            }
          }
        }
        
        & > .Actions{
          @extend .Flex, .WH-Default, %Right-Margin-Children-Large;

          // width: 340px;
          width: calc(340px - 2 * 2rem);

          @media screen and (max-width: $Mobile-Size) {

            width: 100%;

          }
        
          & > .Action{
            @extend .Flex, .Flex-Center, .WH-Button-Half-Space;

            & > .Button{
              @extend .Flex, .Flex-Center, .WH-Full, .Button-Base;

              & > i{
                @extend .Flex, .Flex-Center, .WH-Auto, .Icon-Button;


              }
            }
          }
        }
      }

      & > .Products{

        display: grid;
        grid-template-columns: repeat(2, $Products-Size-Collumn);
        grid-template-rows: repeat(auto-fill, calc($imageSize + 2 * $rem-large));

        gap: $rem-large;

        @media screen and (max-width: $Mobile-Size) {

          grid-template-columns: repeat(1, $Products-Size-Collumn);

        }

        & > .Product-Horizontal{

          display: grid;
          grid-template-columns: $imageSize $Product-Size-Collumn;
          grid-template-rows: $imageSize;

          gap: $rem-large;
          
          padding: $rem-large;

          background-color: $Color-White;

          box-shadow: 1px 1px 1px $Color-Gainsboro;

          & > .Image{
            @extend .Flex;
            @extend .Image-Size;
            @extend .Flex-Center;
        
            & > .Img{
              @extend .Flex;
              @extend .Image-Size;
              @extend .Flex-Center;
            }
          }

          & > .Information{
            @extend .Flex;
            @extend .WH-Default;
            @extend .Collumn;

            & > .Title{
              @extend .Flex;
              @extend .WH-Default;

              & > .Text{
                @extend .Flex;
                @extend .WH-Default;
                @extend .Name-Size;
              }
            }
            
            & > .Description{
              @extend .Flex;
              @extend .WH-Default;

              & > .Text{
                @extend .Ellipse;
              }
            }

            & > .Data{
              @extend .Flex;
              @extend .WH-Default;
              @extend .Data-Size ;
              flex-wrap: wrap;
            
              & > .Price{
                @extend .Flex;
                @extend .WH-Auto;
                
                & > .Label{
                  @extend .Flex;
                  @extend .WH-Auto;
                }

                & > .Text{
                  @extend .Flex;
                  @extend .WH-Auto;
                }
              }

              & > .Total{
                @extend .Flex;
                @extend .WH-Auto;

                & > .Label{
                  @extend .Flex;
                  @extend .WH-Auto;
                }

                & > .Text{
                  @extend .Flex;
                  @extend .WH-Auto;
                }

              }

            }

            & > .Actions {

              display: grid;
              grid-template-columns: repeat(3, auto) 1fr;

              justify-content: end;
              align-content: end;
              justify-items: end;
              align-items: end;

              margin-top: 1rem;

              width: 100%;

              & > .Action{
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;

                & > .Button{
                  padding: 0;
                  line-height: 0;
                  width: 100%;
                  height: 100%;
                  border: none;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: $Color-Black;
                  cursor: pointer;

                  &:active{
                    background-color: white;

                    & > .Icon{
                      color: $Color-Black;
                    }
                  }

                  & > .Icon{
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    line-height: 0;
                    white-space: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    cursor: pointer;
                  }
                }
              }

              & > .Display{
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;

                & > .Text{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }

            }

          }

        }

      }

    }
  
  }

}