@use "../global/variable.scss" as *;
@use "../global/pre-sets.scss" as *;
@use "../global/classes.scss" as *;

.ShoppingCart{
  // @extend %Bottom-Margin-Children-Large;

  // display: flex;
  // flex-direction: column;
  // // justify-content: center;
  // align-items: center;
	// width: 340px;
  // height: auto;
  // flex-wrap: nowrap;

  & > .Content{
    @extend .Flex, .WH-Default, .Collumn, .Flex-Center, %Bottom-Margin-Children-Large;

    width: 100%;
    height: auto;

    & > .Resume{
      @extend .Flex, .WH-Default;

      width: 340px;
      height: auto;
    
      & > .Display{
        @extend .Flex, .WH-Auto;
        
        & > .Label{
          @extend .Flex;

          flex-wrap: nowrap;

        }
        
        & > .Text{
          @extend .Flex;

          flex-wrap: nowrap;

        }
      }
    }
    
    & > .Actions{
      @extend .Flex, .WH-Default, %Right-Margin-Children-Large;

      width: 340px;
      height: auto;
    
      & > .Action{
        @extend .Flex, .Flex-Center, .WH-Button-Half-Space;

        & > .Button{
          @extend .Flex, .Flex-Center, .WH-Full, .Button-Base;

          & > i{
            @extend .Flex, .Flex-Center, .WH-Auto, .Icon-Button;


          }
        }
      }
    }
  }

  & > .Products{

    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    // grid-template-rows: calc(50px + (2 * 1rem));
    justify-content: center;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;

    min-width: 340px;
    max-width: calc((340px * 3) + (2 * 2rem));
    width: calc(100% - (0 * 1rem));
    height: auto;

    gap: 2rem;

    & > .Product-Horizontal{
      @extend .Flex, .WH-Default, %Right-Margin-Children-Large;

      width: calc(100% - (2 * 2rem));
      // height: calc(100px + (2 * 1rem));
      height: calc(100% - (2 * 2rem));
      padding: 2rem;

      background-color: $Color-White;
      box-shadow: 1px 1px 1px $Color-Gainsboro;

      & > .Image{
        @extend .Flex;
        @extend .Image-Size;
        @extend .Flex-Center;
    
        & > .Img{
          @extend .Flex;
          @extend .Image-Size;
          @extend .Flex-Center;
        }
      }

      & > .Information{
        @extend .Flex;
        @extend .WH-Default;
        @extend .Collumn;
        
        width: calc(100% - $imageSize - 2rem);
        height: auto;

        & > .Title{
          @extend .Flex;
          @extend .WH-Default;

          & > .Text{
            @extend .Flex;
            @extend .WH-Default;
            @extend .Name-Size;
          }
        }
        
        & > .Description{
          @extend .Flex;
          @extend .WH-Default;

          & > .Text{
            @extend .Ellipse;
          }
        }

        & > .Data{
          @extend .Flex;
          @extend .WH-Default;
          @extend .Data-Size ;
          flex-wrap: wrap;
        
          & > .Price{
            @extend .Flex;
            @extend .WH-Auto;
            
            & > .Label{
              @extend .Flex;
              @extend .WH-Auto;
            }

            & > .Text{
              @extend .Flex;
              @extend .WH-Auto;
            }
          }
        }

        & > .Actions {
          @extend .Flex;
          @extend .WH-Default;
          @extend %Bottom-Margin-Children-Medium;

          margin-top: 1rem;

          flex-wrap: wrap;

          & > .SubActions{
            @extend .Flex;
            @extend .WH-Default;
            // border: 3px solid $Color-Black;

            & > .Action{
              width: 3rem;
              height: 3rem;
              display: flex;
              justify-content: center;
              align-items: center;

              & > .Button{
                padding: 0;
                line-height: 0;
                width: 100%;
                height: 100%;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $Color-Black;
                cursor: pointer;

                &:active{
                  background-color: white;

                  & > .Icon{
                    color: $Color-Black;
                  }
                }

                & > .Icon{
                  width: 100%;
                  height: 100%;
                  padding: 0;
                  line-height: 0;
                  white-space: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  cursor: pointer;
                }
              }
            }

            & > .Display{
              width: 3rem;
              height: 3rem;
              display: flex;
              justify-content: center;
              align-items: center;

              & > .Text{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            & > .Total{
              @extend .Flex;
              @extend .Flex-Center;

              // background-color: antiquewhite;

              // justify-content: flex-start;
              // padding-left: calc(1rem );
              width: calc(100% - (4 * 3rem));
              height: 3rem;
              

              & > .Label{
                height: auto;
              }

              & > .Text{
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}