@use "global/classes.scss" as *;
@use "global/variable.scss" as *;
@use "global/pre-sets.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  font-size: 62.5%;
}

* {
  font-size: 1.6rem;
  padding: 0rem;
  margin: 0rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
  color: $Color-Black;
}

html{
  width: 100dvw;
  height: 100dvh;
}

body{
  width: 100dvw;
  height: 100dvh;
}

#root{
  width: 100dvw;
  height: 100dvh;

  overflow: hidden;

  background-color: $Color-Anti-Flash-White;
}