@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  font-size: 62.5%;
  --painel-size: 1080px;
}

* {
  font-size: 1.6rem;
  padding: 0rem;
  margin: 0rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

html{
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  flex-wrap: nowrap;
}

body{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
}

#root{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  background-color: #f0f0f0;
}

// html{
//   display: grid;
//   grid-template-columns: 100%;
//   justify-content: start;
//   align-items: start;
//   width: 100dvw;
//   height: 100dvh;
//   overflow: hidden;
//   /* overflow-x: hidden;
//   overflow-y: auto; */
// }

// body{
//   display: grid;
//   grid-template-columns: 100%;
//   justify-content: start;
//   align-items: start;
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   /* min-height: 100dvh; */
//   // justify-content: center;
//   // align-items: center;
//   // overflow: hidden;
//   /* overflow-x: hidden;
//   overflow-y: auto; */
// }
// #root{
//   display: grid;
//   grid-template-columns: 100%;
//   justify-content: start;
//   align-items: start;
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   background-color: #f0f0f0;
//   // width: calc(100% - (2 * 2rem));
//   // height: calc(100% - (2 * 2rem));
//   /* height: 100%; */
//   // display: flex;
//   // justify-content: center;
//   /* align-items: center; */
//   // align-items: flex-start;
//   // padding: 2rem;
//   // padding: 1rem;
//   /* align-items: flex-start; */
// }