@use "variable" as *;

hr{
  width: 100%;
}

#store{
  /* margin-top: calc( ( 100vw - 320px ) / 2 ); */
  
  flex-direction: column;
  min-width: calc(320px - (2 * 1rem) - (2 * 1rem));
  max-width: calc(var(--painel-size) - (2 * 1rem));
  width: calc(100% - (2 * 1rem));
  /* width: 50%; */
  min-height: calc(100% - (2 * 1rem));
  /* min-height: calc(320px); */
  background-color: #ffffff;
  padding: 1rem;
  /* padding: 0rem; */
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px #dddddd;
}

/////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////
