@use "variable" as *;

hr{
  width: 100%;
}

#store{
  /* margin-top: calc( ( 100vw - 320px ) / 2 ); */
  
  flex-direction: column;
  min-width: calc(320px - (2 * 1rem) - (2 * 1rem));
  max-width: calc(var(--painel-size) - (2 * 1rem));
  width: calc(100% - (2 * 1rem));
  /* width: 50%; */
  min-height: calc(100% - (2 * 1rem));
  /* min-height: calc(320px); */
  background-color: #ffffff;
  padding: 1rem;
  /* padding: 0rem; */
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px #dddddd;
}

.Products{
  // width: calc(100% - (2 * 1rem));
  // height: calc(100dvh - (2 * 1rem));
  // padding: 1rem;
  // height: calc(100dvh - (0 * 1rem));

  width: calc(100% - (0 * 1rem));
  min-height: calc(200px - (0 * 1rem));
  height: auto;

  // overflow-y: auto;
}

  .Products-Title{
  }

    .Products-Title-Text{
    }

  .Products-Product{
  }

    .Products-Product-Image{
    }
  
      .Products-Product-Image-Img{
      }

    .Products-Product-Information{
      width: calc(100% - $imageSize - 1rem);
      height: auto;
    }

      .Products-Product-Information-Title{
      }

        .Products-Product-Information-Title-Text{
        }
      
      .Products-Product-Information-Description{
      }

        .Products-Product-Information-Description-Text{
        }

      .Products-Product-Information-Data{
          flex-wrap: wrap;
      }
      
        .Products-Product-Information-Data-Price{
        }
          .Products-Product-Information-Data-Price-Label{
          }

          .Products-Product-Information-Data-Price-Text{
          }
        
        .Products-Product-Information-Data-Count{
        }
          .Products-Product-Information-Data-Count-Label{
          }

          .Products-Product-Information-Data-Count-Text{
          }

/////////////////////////////////////////////////////////////////

.Product{
  width: calc(100% - (0 * 1rem));
}

  .Product-Title{
  }

    .Product-Title-Text{
    }

  .Product-Image{
  }

    .Product-Image-Img{
    }

  .Product-Information{
  }

    .Product-Information-Title{
    }

      .Product-Information-Title-Text{
      }

    .Product-Information-Description{
    }

      .Product-Information-Description-Paragraph{
      }

    .Product-Information-Data{
    }

      .Product-Information-Data-Price{
      }

        .Product-Information-Data-Price-Label{
        }

        .Product-Information-Data-Price-Text{
        }

  .Product-Actions{
    flex-wrap: wrap;
  }

    .Product-Actions-SubActions{
    }

      .Product-Actions-SubActions-Action{
      }

        .Product-Actions-SubActions-Action-Button{
        }

      .Product-Actions-SubActions-Display{
      }

        .Product-Actions-SubActions-Display-Text{
        }

      .Product-Actions-SubActions-Total{
      }

        .Product-Actions-SubActions-Total-Label{
        }

        .Product-Actions-SubActions-Total-Text{
        }

    .Product-Actions-Action{
    }

      .Product-Actions-Action-Button{
      }

/////////////////////////////////////////////////////////////////

.ShoppingCart{
  // width: calc(100% - (0 * 1rem));
}

  .ShoppingCart-Title{
  }

    .ShoppingCart-Title-Text{
    }

  .ShoppingCart-Products{
  }

    .ShoppingCart-Products-Product{
    }

      .ShoppingCart-Products-Product-Image{
      }

        .ShoppingCart-Products-Product-Image-Img{
        }

      .ShoppingCart-Products-Product-Information{
        width: calc(100% - $imageSize - 1rem);
        height: auto;
      }

        .ShoppingCart-Products-Product-Information-Title{
        }

          .ShoppingCart-Products-Product-Information-Title-Text{
            // width: calc(100% - 50px - 1rem);
          }

        .ShoppingCart-Products-Product-Information-Description{
        }

          .ShoppingCart-Products-Product-Information-Description-Paragraph{
          }

        .ShoppingCart-Products-Product-Information-Data{
        }

          .ShoppingCart-Products-Product-Information-Data-Price{
          }

            .ShoppingCart-Products-Product-Information-Data-Price-Label{
            }

            .ShoppingCart-Products-Product-Information-Data-Price-Text{
            }

          .ShoppingCart-Products-Product-Information-Data-Total{
          }

            .ShoppingCart-Products-Product-Information-Data-Total-Label{
            }

            .ShoppingCart-Products-Product-Information-Data-Total-Text{
            }

          .ShoppingCart-Products-Product-Actions{
            flex-wrap: nowrap;
          }

            .ShoppingCart-Products-Product-Actions-Action{
            }

              .ShoppingCart-Products-Product-Actions-Action-Button{
              }

            .ShoppingCart-Products-Product-Actions-Display{
            }

              .ShoppingCart-Products-Product-Actions-Display-Text{
              }

            .ShoppingCart-Products-Product-Actions-Action{
            }

              .ShoppingCart-Products-Product-Actions-Action-Button{
              }

            .ShoppingCart-Products-Product-Actions-Action{
            }

              .ShoppingCart-Products-Product-Actions-Action-Button{
              }

  .ShoppingCart-Content{
  }

    .ShoppingCart-Content-Resume{
      justify-content: flex-end;
    }

      .ShoppingCart-Content-Resume-Display{
      }

        .ShoppingCart-Content-Resume-Display-Text{
        }

      .ShoppingCart-Content-Resume-Display{
      }

        .ShoppingCart-Content-Resume-Display-Text{
        }

      .ShoppingCart-Content-Resume-Display{
      }

        .ShoppingCart-Content-Resume-Display-Text{
        }

    .ShoppingCart-Content-Actions{
    }

      .ShoppingCart-Content-Actions-Action{
        width: calc(50% - (1rem / 2));
        height: auto;
      }

        .ShoppingCartart-Content-Actions-Action-Button{
        }

      .ShoppingCart-Content-Actions-Action{
        width: calc(50% - (1rem / 2));
        height: auto;
      }

        .ShoppingCart-Content-Actions-Action-Button{
        }