@use "../global/variable.scss" as *;
@use "../global/pre-sets.scss" as *;
@use "../global/classes.scss" as *;

.Restaurant{
  // @extend %Default-100;
  
  // flex-direction: column;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 6 * 100dvw;

  overflow: hidden;

  position: relative;
  // overflow-x: hidden;
  // overflow-y: scroll;

  // & > * {
  //   margin-bottom: $rem-large;
  // }

  // & > *:first-child {
  //   margin-top: $rem-large;
  // }
}
