@use "variable.scss" as *;

.Invisible{
  // visibility: hidden;
  & > *{
    visibility: hidden;
  }
}

.Area-A{
  grid-area: A;
}

.Area-B{
  grid-area: B;
}

.Area-CA{
  grid-area: CA;
}

.Area-CB{
  grid-area: CB;
}

// .None{
//   display: none;

//   @media screen and (max-width: 660px) {
//     display: flex;
//   }
// }

.Font-Display{
  font-family: 'General Sans', sans-serif;
  font-weight: 700;
}
.Font-Title{
  font-family: 'Gambetta', serif;
  font-weight: 700;
}
.Font-Text{
  font-family: 'Gambetta', serif;
  font-weight: 400;
}
.Font-Light{
  font-family: 'Gambetta', serif;
  font-weight: 100;
}

%Default-100{
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  flex-wrap: nowrap;
}

.Tab{
  // padding-top: 10rem;

  display: flex;
  width: 100dvw;
  // height: calc(100dvh - 10rem);
  height: 100dvh;

  // background-color: red;

  // &:nth-child(-n - 1){
  //   background-color: black;
  // }
}
// #FFC99D
$colors: black 0, $Color-Anti-Flash-White 1, $Color-Anti-Flash-White 2, $Color-Anti-Flash-White 3, $Color-Anti-Flash-White 4, $Color-Anti-Flash-White 5;
// $colors: black 0, orange 1, $Color-Anti-Flash-White 2, blue 3, green 4, yellow 5;
@each $color, $index in $colors{
  .bg-#{$index}{
    background-color: $color;
  }
}

$SizeTiple: "Small" $rem-small, "Medium" $rem-medium, "Large" $rem-large;

@each $SizeLaber, $SizeREM in $SizeTiple {
  %Bottom-Margin-Children-#{$SizeLaber}{
    & > *{
      margin-bottom: $SizeREM;
    }

    & > *:last-child{
      margin-bottom: 0;
    }
  }
}

$SizeTiple: "Small" $rem-small, "Medium" $rem-medium, "Large" $rem-large;

@each $SizeLaber, $SizeREM in $SizeTiple {
  %Right-Margin-Children-#{$SizeLaber}{
    & > *{
      margin-Right: $SizeREM;
    }

    & > *:last-child{
      margin-Right: 0;
    }
  }
}

.Font-Size-Title{
  font-size: 3rem;
}

.NoItems > .Content{
	display: flex !important;
	justify-content: center !important;
	align-items: flex-start !important;
}